server {

     listen 80;
     server_name {{ domain_name }};

     location / {
         return 301 https://$host$request_uri;
     }
}

server {

     listen 443 ssl;
     server_name {{ domain_name }};

     ssl_certificate /etc/letsencrypt/live/{{ domain_name }}/fullchain.pem;
     ssl_certificate_key /etc/letsencrypt/live/{{ domain_name }}/privkey.pem;


     root /var/www/{{ proj_name }};

     add_header X-Frame-Options "SAMEORIGIN";
     add_header X-XSS-Protection "1; mode=block";
     add_header X-Content-Type-Options "nosniff";

     index index.html index.htm;

     charset utf-8;

     error_page 404 /404.html;

     location / {
         try_files $uri $uri/ /index.html;
     }
}
